<div class="row" style="height:560px;display:flex; margin-right: 30px;">
    
    <div class="col-3" style="border:2px solid black;"> 
        <h3 style="font-size: 20px;font-weight: 500;margin-top: 15px;"> Left Nav Component</h3>
      <div class="LeftNavIcons">
        <h3  (click)="navigate()" [routerLink]='StrawVariable'> Strawberry </h3>    
        <h3 (click)="navigate()" [routerLink]='ChocobarVariable'> Chocobar </h3>
        <h3 (click)="navigate()" [routerLink]='VanillaVariable'> Vanilla </h3>
        <h3 (click)="navigate()" [routerLink]='ButterscotchVariable'> Butterscotch </h3>
        <h3 (click)="navigate()" [routerLink]='BlackCurrentVariable'> BlackCurrent </h3>
        <h3 (click)="navigate()" [routerLink]='PistaVariable'> Pista </h3>
      </div>
    </div>

</div>

